backend/node_modules/
front-end/node_modules/
.env
.env.local
.env.development
.env.production
.env.test
.env.development.local
.env.test.local
.env.production.local
coverage/
dist/
build/
*.log
.DS_Store
*.pem
*.map
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.vscode/
.idea/
*.pyc
__pycache__/
.DS_Store
Thumbs.db
