PORT=5000
MONGO_URI=mongodb+srv://mvosamira:5ZTOZz08cKi72KAl@cluster0.wdbnpp8.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=ab0ade3239626d50dbf86cd3db16affe29af6da9eb1ee7e045485d01699f694
UPLOAD_DIR=uploads
